.input {
	width: 100%;
	margin-bottom: 1.3rem;
	position: relative;
}

.input label {
	font-size: 0.9rem;
	color: #666666;
}

.input input {
	width: 100%;
	height: 2rem;
	font-size: 1rem;
	border-style: none none solid;
	border-width: thin thin 0.1rem;
	border-bottom-color: #666666;
	background-color: inherit;
}

.input input::placeholder {
	color: #bdbdbd;
}

.input .error {
	margin-top: 0.2rem;
	font-size: 0.8rem;
	color: #b23c39;
}