.button {
	width: 100%;
	height: 3rem;
}
.button button {
	width: 100%;
	height: 3rem;
	box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
	transition: box-shadow 0.2s;
	margin-bottom: 0.5rem;
	border-radius: 0.2rem;
	font-size: 1rem;
	cursor: pointer;
	color: white;
	background-color: #27393F;
	border: medium none;
}

.button button:hover {
	transition: box-shadow 0.2s;
	box-shadow: 0 0.2rem 1.0rem 0 rgba(0, 0, 0, 0.10), 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.20);
}