.header {
	height: 4rem;
	padding: .6rem;
	margin-bottom: 2rem;
	font-size: 1.5rem;
	color: white;
	background-color: #27393F;
	border-bottom: 1px solid #000000;
}

.header .header-inner img {
	height: 3rem;
	margin-right: 1rem;
	filter: grayscale(100%);
}