.table {
	padding: 0.5rem;
}

.table .table-body, 
.table .table-header { 
	border-bottom: 1px solid #000000;
}

.table .table-body .row:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.10);
}

.table .column-count2 {
	width: 50%;
}

.table .column-count1 {
	width: 25%;
}

.table .data { 
	min-height: 1.5rem; 
	padding: 0.5rem;
	word-break: break-word;
}

.table .table-body .empty-state {
	padding: 2rem 0; 
	font-size: 1rem;
	color: #cccccc;
}
