/* Flow */

.float-left {
	float: left !important;
}

.float-right {
	float: right !important;
}

.clearfix {
	clear: both;
	height: 0;
	overflow: hidden;
}

.center-block {
	margin: 0 auto;
	padding: 0;
}

.display-flex {
	display: flex;
}

.display-block {
	display: block;
}

.display-inline-block {
	display: inline-block;
}

.display-table {
	display: table;
	height: inherit;
}

.display-table-row {
	padding: 0;
	margin: 0;
	display: table-row;
}

.display-table-cell {
	display: table-cell;
}

/* Alignment */

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.valign-bottom {
	vertical-align: bottom;
}

.valign-top {
	vertical-align: top;
}

.valign-middle {
	vertical-align: middle;
}

.valign-block-middle {
	display: flex;
	align-items: center;
}

.justify-block-center {
	justify-content: center;
}

.justify-block-between {
	justify-content: space-between;
}

/* Flex */

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.flex-wrap {
	flex-wrap: wrap;
}

.flex-grow1 {
	flex-grow: 1;
	flex-basis: 0;
}

.flex-form {
	flex-direction: row;
}

@media (max-width: 767px) {
	.flex-form {
		flex-direction: column;
	}
	.flex-grow1 {
		flex-basis: auto;
	}
}

/* Inheritance */

.parent-height {
	height: inherit;
}

.parent-width {
	width: inherit;
}

/* Text styling */

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.underline {
	text-decoration: underline;
}

/* General */

.remove-highlight {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.text-wrap {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Shadows */

.base-shadow-transition {
	transition: box-shadow 0.2s;
}

.shadow1 {
	box-shadow: 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1), 0 0.1rem 0.1rem 0 rgba(0, 0, 0, 0.1);
}

.shadow2 {
	box-shadow: 0 0.2rem 1.0rem 0 rgba(0, 0, 0, 0.10), 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.20);
}

.shadow3 {
	box-shadow: 0 0.4rem 1.8rem 0 rgba(0, 0, 0, 0.2), 0 0.6rem 1.4rem 0 rgba(0, 0, 0, 0.2);
}

.shadow4 {
	box-shadow: 0 2rem 4.2rem 0 rgba(0, 0, 0, 0.15), 0 1.2rem 2.3rem 0 rgba(0, 0, 0, 0.20);
}

/* Card */

.card {
	padding: 1rem;
	margin-bottom: 1rem;
	border-radius: 0.2rem;
	box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.16), 0 0.2rem 0.5rem 0 rgba(0, 0, 0, 0.26);
}

@media (max-width: 767px) {
	.card {
		padding: 0.5rem;
		margin: 0.5rem;
	}
}

.card .title {
	padding: 0.5rem;
	margin-bottom: 1rem;
	font-size: 1.5rem;
}