/* Resets */

body {
	font-family: Arial, Helvetica, sans-serif;
	word-wrap: break-word;
	font-size: 16px;
}

html,
body,
form {
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
	padding: 0;
	margin: 0.1rem 0;
}

a {
	text-decoration: none;
	outline: none;
	cursor: pointer;
}

a:link img {
	border: none;
}

button {
	padding-top: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
}

input:invalid {
	box-shadow: none;
}

input:focus {
	outline: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}