.app {
	margin-bottom: 0;
	height: 100vh;
	color: #666666;
}

.app .app-inner {
	max-width: 960px;
	width: 100%;
	margin-bottom: auto;
}

.app .app-inner .total {
	height: 3rem; 
	margin-bottom: 2rem;
	border: 1px solid #666666;
	background-color: #f1f1f1;
	font-size: 1.5rem;
}

.app .app-inner .total .value {
	font-size: 2rem;
	color: #cccccc;
}

.app .app-inner .form-spacing {
	margin-right: 0.5rem;
}

.app .app-inner .form-spacing:last-child {
	margin-right: 0;
}

@media (max-width: 767px) {
	.app .app-inner .form-spacing {
		margin-right: 0;
	}

	.app .app-inner .total {
		margin: 0 0.5rem 2rem 0.5rem;
	}
}